<launch> 
  
  <!-- Run the map server -->
 <include file="$(find my_map)/include/gmapping.launch.xml"/>
  <!--arg name="map_file" default="$(find my_map)/map/map.yaml"/-->
  <!--<arg name="map_file" default="$(find my_map)/map/map.yaml"/>-->
  <!--node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" /-->
  <!--- Run AMCL -->
    <!-- Localization -->
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(find my_nav)/include/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!--- MOVE_BASE -->
  <include file="$(find my_nav)/include/move_base.launch.xml" />
</launch>
