<launch>
  <!--arg name="port" default="9090" /-->
  <!--arg name="address" default="local" /-->
  <include file="$(find my_serial)/launch/robot_control.launch"/>
    <!--<include file="$(find my_joy)/launch/joy_control.launch"/>-->
  <!--<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <param name="port" value="$(arg port)"/>
        <param name="address" value="$(arg address)"/>
  </include>-->
  <node pkg="tf" type="static_transform_publisher" name="base_to_footprint" args="0.0 0.0 0.0 0.0 0.0 0.0 base_link base_footprint 100"/>
</launch>
